<img src="assets/sadDogwLeash.jpg" id="comingSoonPic" alt="dog with leash" />
<div class="container-fluid" ng-controller="ComingsoonController">
  <h1 class="text-primary col-lg-offset-5">
    Features Coming Soon...
  </h1>
  <ul class="text-primary col-lg-offset-5">
    <li><h3>Live streaming of dog walks</h3></li>
    <li><h3>Multiple dogs per walk</h3></li>
    <li><h3>Additional oAuth with Google</h3></li>
    <li><h3>Walk appointments visable in Google Calander</h3></li>
    <li><h3>Chat on eDoggy between walkers and dog owners</h3></li>
    <li><h3>Search for dog walkers and doggie day care in Seattle</h3></li>
  </ul>
</div>
