
<img src="/assets/smallDog.jpg" alt="dog on box" class="img-responsive" id="backgroundEditImg"/>

<div class="row" ng-controller="UsersController">
  <h1 class="headers col-lg-4 col-lg-offset-2 col-xs-4 col-xs-offset-2">Edit your profile </h1>
</div>
<form class="container-fluid" ng-submit="vm.updateUser()">
  <div class="row">
    <img class="img-circle" src="{{ vm.user.profileURL }}"/>
    <legend class="col-lg-offset-2 col-lg-3 headers">{{ vm.user.name}}</legend>
  </div>
  <div id="ownerOrWalker" class="row col-lg-offset-2 col-xs-offset-2">
    <label class="headers col-lg-2 col-xs-2 control-label">Which are you?</label>
    <div class="col-lg-4 col-xs-4 radio">
      <label class="headers control-label" for="dogOwner">
        <input type="radio" name="dog" class="radio" id="dogOwner" ng-model="vm.userType" value="owner"/>
        Dog Owner
      </label>
      <label class="headers control-label" for="dogWalker">
        <input type="radio" name="dog" class="radio" id="dogWalker" ng-model="vm.userType" value="walker" />
        Dog Walker
      </label>
    </div>
  </div>

  <div id="emailAddress" class="row col-lg-offset-2 col-xs-offset-2">
    <label class="headers control-label col-lg-1 col-xs-1" for="email">Email</label>
    <input type="email" class="col-lg-2 col-xs-2" id="email" name="user[email]" placeholder="email" ng-model="vm.user.email"/>
  </div>
  <div class="row col-lg-offset-2 col-xs-offset-2">
    <label class="headers control-label col-lg-1 col-xs-1" for="address">Address</label>
    <input class="col-lg-2 col-xs-2" type="text" name="user[streetAddress]" placeholder="123 Easy St" ng-model="vm.user.streetAddress"/>
  </div>
  <div class="row col-lg-offset-2 col-xs-offset-2">
    <label class="col-lg-1 col-xs-1"></label>
    <input class="col-lg-2 col-xs-2" type="text" name="user[zipCode]" placeholder="98101" ng-model="vm.user.zipCode"/>
  </div>
  <div class="row col-lg-offset-2 col-xs-offset-2">
    <label class="headers control-label col-lg-1 col-xs-1" for="address">Phone</label>
    <input class="col-lg-2 col-xs-2" type="phone" name="user[phoneNum]" placeholder="(206)555-5555" ng-model="vm.user.phoneNum"/>
  </div>
  <div class="row col-lg-offset-2 col-xs-offset-2">
    <label for="morePics" class="headers col-lg-5 col-xs-5">Add more pictures: (Recommended)</label>
  </div>
  <div class="row col-lg-offset-2 col-xs-offset-2">
    <label class="headers col-lg-1 col-xs-1">URL: </label>
    <input class="col-lg-2 col-xs-2" type="text" name="user[addtionalPics]" placeholder="recommended" id="morePics" ng-model="vm.addPic"/>
  </div>
  <label class="col-lg-1 col-xs-1"></label>
  <p class="text-info">{{vm.addPic}}</p>
  <div id="owner" ng-if="vm.userType === 'owner'" class="col-xs-offset-2 col-lg-4 col-xs-4">
    <legend class="headers">{{vm.userType}}</legend>
    <!-- <div class="row col-lg-12 col-xs-12">
      <label for="newDog" class="headers control-label">Add a new dog?</label>
      <input type="radio" id="newDog" name="newDog" ng-model="vm.newDog" value="newDog"/>
      <p class="text-info">{{vm.newDog}}</p>
    </div> -->
    <div class="row col-lg-12 col-xs-12">
      <label class="headers control-label col-lg-5 col-xs-5" for="dogName">Dog's Name</label>
      <input type="text" name="dogName" id="dogName" placeholder="Lili" ng-model="vm.dogInfo.name"/>
    </div>
    <div class="row col-lg-12 col-xs-12">
      <label class="headers control-label col-lg-5 col-xs-5" for="dogPicture" class="headers control-label">Dog Pictures URL</label>
      <input type="text" name="dogPicture" id="dogPicture" placeholder="dogPicOne.jpg" ng-model="vm.dogInfo.pictureURL"/>
      <input class="col-lg-offset-5 col-xs-offset-5" ng-hide="vm.dogInfo.pictureURL.length < 1" type="text" name="altDogPic" id="altDogPic" ng-model="vm.altDogPic" placeholder="dogPicTwo.jpg"/>
    </div>
    <div class="row col-lg-12 col-xs-12">
      <label class="headers control-label col-lg-5 col-xs-5" class="headers control-label" for="dogAge">Age (years)</label>
      <input type="text" name="dogAge" id="dogAge" placeholder="2" ng-model="vm.dogInfo.age"/>
    </div>
    <div class="row col-lg-12 col-xs-12">
      <label class="headers control-label col-lg-5 col-xs-5" for="dogWeight">Dog's Weight in lbs</label>
      <input type="text" name="dogWeight" id="dogWeight" placeholder="8" ng-model="vm.dogInfo.weight"/>
    </div>
    <div class="row col-lg-12 col-xs-12">
      <p class="headers">
        On a Scale of 1 to 5. 1 meaning your dog does not have the behavior to 5 meaning the dog does have this behavior.
      </p>
      <label class="headers control-label" for="Aggressive">Aggressive</label>
      <input type="text" name="dogAggression" id="Aggressive" ng-model="vm.dogInfo.aggression"/>
      <label class="headers control-label" for="Confidence">Confidence</label>
      <input type="text" name="dogConfidence" id="Confidence" ng-model="vm.dogInfo.confidence"/>
    </div>
    <a ng-href="" ng-click="vm.updateUser()" class="btn btn-success">Next</a>
  </div>

  <div class="row col-lg-offset-1 col-xs-offset-1 col-lg-3 col-xs-3" id="walker" ng-if="vm.userType === 'walker'">
    <legend class="headers">{{ vm.userType }}</legend>
    <p class="text-danger">By clicking below I agree that I will not harm any animals or people I meet through this website.</p>
      <a ng-href="" ng-click="vm.updateUser()" class="btn btn-success">Next</a>
    </div>
  </div>
</form>
