<div class="row" ng-controller="UsersController">
  <h1 class="headers col-lg-4 col-lg-offset-2 col-xs-4 col-xs-offset-2">Edit your profile </h1>
</div>
<h4 class="text-warning">{{vm.users}}</h4>
<form class="container-fluid" ng-submit="vm.updateUser()">
  <div class="row">
    <img class="img-circle" src="{{ vm.user.profileURL }}"/>
    <legend class="col-lg-offset-2 col-lg-3 headers">{{ vm.user.name}}</legend>
  </div>
  <div id="ownerOrWalker" class="row col-lg-offset-2 col-xs-offset-2">
    <label class="headers col-lg-2 col-xs-2 control-label">Which are you?</label>
    <div class="col-lg-4 col-xs-4 radio">
      <label class="headers control-label" for="dogOwner">
        <input type="radio" name="dog" class="radio" id="dogOwner" ng-model="vm.userType" value="owner"/>
        Dog Owner
      </label>
      <label class="headers control-label" for="dogWalker">
        <input type="radio" name="dog" class="radio" id="dogWalker" ng-model="vm.userType" value="walker" />
        Dog Walker
      </label>
    </div>
  </div>

  <div id="emailAddress" class="row col-lg-offset-2 col-xs-offset-2">
    <label class="headers control-label col-lg-1 col-xs-1" for="email">Email</label>
    <input type="email" class="col-lg-3 col-xs-3" id="email" name="user[email]" placeholder="email" ng-model="vm.user.email"/>
  </div>
  <div class="row col-lg-offset-2 col-xs-offset-2">
    <label class="headers control-label col-lg-1 col-xs-1" for="address">Address</label>
    <input class="col-lg-3 col-xs-3" type="text" id="address" name="user[street]" placeholder="Street Address" ng-model="vm.locationSt"/>
  </div>
  <div class="row col-lg-offset-2 col-xs-offset-2">
    <label class="col-lg-1 col-xs-1"></label>
    <input class="col-lg-2 col-xs-2" type="number" name="user[zipcode]" placeholder="Zip Code" ng-model="vm.locationZip"/>
  </div>
  <label class="col-lg-1 col-xs-1"></label>

  <div id="owner" ng-if="vm.userType === 'owner'" class="container-fluid col-lg-offset-1 col-xs-offset-1 col-lg-4 col-xs-4">
    <legend class="headers">{{vm.userType}}</legend>
    <div class="row">
      <label class="headers control-label" for="dogName">Dog's Name</label>
      <input type="text" name="dogName" id="dogName" placeholder="Lili"/>
    </div>
    <div class="row">
      <label for="dogPicture" class="headers control-label">Dog Picture URL</label>
      <input type="text" name="dogPicture" id="dogPicture" />
    </div>
    <div class="row">
      <label class="headers control-label" for="dogAge">Age (years)</label>
      <input type="number" name="dogAge" id="dogAge" />
    </div>
    <div class="row">
      <label class="headers control-label" for="dogWeight">Dog's Weight in lbs</label>
      <input type="number" name="dogWeight" id="dogWeight" placeholder="8"/>
    </div>
    <div class="row">
      <p class="headers">
        On a Scale of 1 to 5. 1 meaning your dog does not have the behavior to 5 meaning the dog does have this behavior.
      </p>
      <label class="headers control-label" for="Aggressive">Aggressive</label>
      <input type="number" name="dogAggression" id="Aggressive" min="1" max="5" value=""/>
      <label class="headers control-label" for="Confidence">Confidence</label>
      <input type="number" name="dogConfidence" id="Confidence" min="1" max="5" value="">
    </div>
    <input type="submit" value="next" class="btn btn-success row" />
  </div>

  <div class="row col-lg-offset-1 col-xs-offset-1 col-lg-3 col-xs-3" id="walker" ng-if="vm.userInfo.userType === 'walker'">
    <legend class="headers">{{ vm.userInfo.userType }}</legend>
    <label class="headers control-label" for="availability">Schedule Availability (Military Time)</label>
    <div class="row">
      <label for="" class="col-lg-2 control-label headers">Sun</label>
      <input type="number" min="0" max="24" name="sunStart" ng-model="vm.walkerAvailability.SunSta"/>
      <input type="number" min="0" max="24" name="sunStop" ng-model="vm.walkerAvailability.SunSto"/>
    </div>
    <div class="row">
      <label for="" class="col-lg-2 control-label headers">Mon</label>
      <input type="number" min="0" max="24" name="monStart" ng-model="vm.walkerAvailability.MonSta"/>
      <input type="number" min="0" max="24" name="monStop" ng-model="vm.walkerAvailability.MonSto"/>
    </div>
    <div class="row">
      <label for="" class="col-lg-2 control-label headers">Tue</label>
      <input type="number" min="0" max="24" name="tueStart" ng-model="vm.walkerAvailability.TueSta"/>
      <input type="number" min="0" max="24" name="tueStop" ng-model="vm.walkerAvailability.TueSto"/>
    </div>
    <div class="row">
      <label for="" class="col-lg-2 control-label headers">Wed</label>
      <input type="number" min="0" max="24" name="wedStart" ng-model="vm.walkerAvailability.WedSta"/>
      <input type="number" min="0" max="24" name="wedStop" ng-model="vm.walkerAvailability.WedSto"/>
    </div>
    <div class="row">
      <label for="" class="col-lg-2 control-label headers">Thu</label>
      <input type="number" min="0" max="24" name="thurStart" ng-model="vm.walkerAvailability.ThuSta"/>
      <input type="number" min="0" max="24" name="thurStop" ng-model="vm.walkerAvailability.ThuSto"/>
    </div>
    <div class="row">
      <label for="" class="col-lg-2 control-label headers">Fri</label>
      <input type="number" min="0" max="24" name="friStart" ng-model="vm.walkerAvailability.FriSta"/>
      <input type="number" min="0" max="24" name="friStop" ng-model="vm.walkerAvailability.FriSto"/>
    </div>
    <div class="row">
      <label for="" class="col-lg-2 control-label headers">Sat</label>
      <input type="number" min="0" max="24" name="satStart" ng-model="vm.walkerAvailability.SatSta"/>
      <input type="number" min="0" max="24" name="satStop" ng-model="vm.walkerAvailability.SatSto"/>
    </div>
    <p class="text-info"> {{ vm.walkerAvailability }}</p>
      <input type="submit" value="next" class="btn btn-success row" />
    </div>
  </div>
</form>
