<div class="container-fluid" ng-controller="OwnersController">
  <div class="row">
    <div class="col-lg-4 col-xs-4">
      <h1 class="headers">{{vm.user.name}}</h1>
      <img ng-src="{{vm.user.profileURL}}" alt="profile picture" />
      <h3 class="text-primary">email: {{vm.user.email}}</h3>
      <h3 class="text-primary">location: {{vm.user.location}}</h3>
      <h3 class="text-primary">phone: {{vm.user.phoneNum}}</h3>
    </div>
    <div class="col-lg-6 col-xs-6">
      <h2 class="headers">{{vm.usersDog.name}}</h2>
      <img ng-src="{{vm.usersDog.pictureURL}}" alt="dog picture" />
      <h4 class="text-primary">Age: {{vm.usersDog.age}}</h4>
      <h4 class="text-primary">Weight: {{vm.usersDog.weight}}</h4>
      <h4 ng-class="vm.usersDog.aggression < '3' ? 'text-success' : 'text-warning'">Aggression: {{vm.usersDog.aggression}} / 5</h4>
      <h4 ng-class="vm.usersDog.confidence > '3' ? 'text-success' : 'text-warning'">Confidence: {{vm.usersDog.confidence}} / 5</h4>
    </div>
  </div>
</div>
