<div class="container-fluid" ng-controller="OwnersController">
  <div class="row">
    <div class="col-lg-5 col-xs-5">
      <h1 class="headers">{{vm.user.name}}</h1>
      <img ng-src="{{vm.user.profileURL}}" alt="profile picture" class="col-lg-11 col-xs-11" ng-hide="{{vm.usersPic}}"/>
      <div class="col-lg-11 col-xs-11">
        <uib-carousel>
          <uib-slide ng-repeat="pic in vm.usersPic" active="slide.active1">
            <img ng-src="{{pic.additionalURL}}" alt="profile picture"/>
          </uib-slide>
        </uib-carousel>
      </div>
      <h3 class="text-primary">email: {{vm.user.email}}</h3>
      <h3 class="text-primary">address: {{vm.user.streetAddress}},  {{vm.user.zipCode}}</h3>
      <h3 class="text-primary">phone: {{vm.user.phoneNum | telephone}}</h3>
    </div>

    <div class="col-lg-6 col-xs-6" ng-if="vm.usersDog">
      <h2 class="headers">{{vm.usersDog.name}}</h2>
      <uib-carousel interval="vm.photoInterval" class="col-lg-8 col-xs-8">
        <uib-slide ng-repeat="dog in vm.dogsPic" active="slide.active2">
          <img ng-src="{{dog}}" alt="dogPicture" />
        </uib-slide>
      </uib-carousel>
      <h4 class="text-primary">Age: {{vm.usersDog.age}}</h4>
      <h4 class="text-primary">Weight: {{vm.usersDog.weight}}</h4>
      <h4 ng-class="vm.usersDog.aggression < '3' ? 'text-success' : 'text-warning'">Aggression: {{vm.usersDog.aggression}} / 5</h4>
      <h4 ng-class="vm.usersDog.confidence > '3' ? 'text-success' : 'text-warning'">Confidence: {{vm.usersDog.confidence}} / 5</h4>
    </div>
  </div>
  <div class="row col-lg-10 col-xs-10">
    <h3 class="headers">Walk history</h3>
    <p class="headers">If the date is in green, the transaction has been successfully completed.</p>
    <ul ng-repeat="walk in vm.usersWalks track by $index">
      <li ng-class="walk.dogReturnedConfirm ? 'text-success' : 'text-danger'"><h3> Walk on:
          {{ walk.created_at | date : 'medium' }}
      <a href="/#/scheduleWalk/{{vm.user.id}}/{{walk.walker_id}}/{{walk.id}}">See Details</a>
    </h3></li>
    </ul>
  </div>
</div>
