<div id="landingPage">
  <img src="/assets/huskyOnBeach.jpg" class="img-responsive" id="backgroundImg" alt="dog on beach"/>

  <div class="row col-lg-10 col-xs-10" id="howImg">
    <h2 class="headers">What is eDoggy?</h2>
    <img src="assets/eDoggyHow.png" alt="how eDoggy works" class="col-lg-12 col-xs-12 animated wow fadeInUp" />
  </div>

  <div id="howWeWork" class="row">
    <img src="/assets/goldenSmile.jpg" alt="dog smiling" class="col-lg-4 col-xs-4 img-responsive img-circle" id="goldenSmile"/>
    <div id="howitworks" class="col-lg-7 col-xs-7">
      <h2 class="headers">How it Works</h2>
      <ol class="headers">
        <li><h4>Sign in with your Facebook account</h4></li>
        <li><h4>Search for a dog walker by neighborhood and / or their rating</h4></li>
        <li><h4>When you find one that you like click <span class="text-success">Schedule a walk</span></h4></li>
        <li><h4>The walker you choose will be notified via text message that they have a walk request and accept/deny the walk</h4></li>
        <li><h4>You will receive a text when the walk appointment is confirmed. At the time of the walk the walker will go to the designated meeting place and walk your dog for 30 minutes</h4></li>
        <li><h4>On confirmation of your dogs return pay the walker <span class="text-success">$12.00</span> and up / down vote the walker</h4></li>
      </ol>
    </div>
  </div>

  <div class="row">
    <h2 class="headers col-lg-offset-1 col-lg-8 col-xs-8"> What users say about eDoggy...</h2>
    <div class="col-lg-4 col-xs-4">
      <img src="https://pbs.twimg.com/profile_images/616029620312260608/TbsP2Ovj.jpg" class="img-circle col-lg-5 col-xs-5" />
      <p class="text-success">
        "eDoggy is great, when I needed a walker quickly I was able to find someone closeby to walk my dog. She was prompt, nice and my dog loved her! Will use this site again."
      </p>
    </div>
    <div class="col-lg-4 col-xs-4">
      <img src="https://pbs.twimg.com/profile_images/570630963555737600/09d-qHUt.jpeg" class="img-circle col-lg-5 col-xs-5" />
      <p class="text-success">
        "Being a dog walker on eDoggy allows me to pick up some extra money in the week, and I love meeting and spending time with all kinds of dogs in my neighborhood."
      </p>
    </div>
    <div class="col-lg-4 col-xs-4">
      <img src="https://pbs.twimg.com/profile_images/435878361735249920/y1-4jQna.png" class="img-circle col-lg-5 col-xs-5" />
      <p class="text-success">
        "I keep my dog with me at my business. I had a client coming in last minute that was afraid of dogs. With a few clicks I had someone to walk my dog while I was with my client."
      </p>
    </div>
  </div>

  <div class="row">
    <img src="assets/logo2.png" alt="logo" id="logoDown" class="col-lg-offset-4 col-lg-3 col-xs-offset-4 col-xs-3 wow animated slideInLeft" />
  </div>
  <div class="row">
    <a class="btn btn-success col-lg-offset-5" href="mailto:katestearns@mac.com">Contact Us</a>
  </div>

  <div id="signupLogin" class="col-lg-2 col-xs-2">
    <h2 class="headers">Get started!</h2>
    <% if current_user %>
      <a class="btn btn-success" href='/#/users/<%= current_user.id %>/edit'>Set up your profile</a>
    <% else %>
      <p class="headers">Sign up with facebook</p>
      <%= link_to "Facebook", "/auth/facebook", id: "sign_up", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
