/*NavBar Style*/
/*homepage background Images*/
body {
  background-color: #222222;
}
#backgroundImg {
  z-index: -50;
  opacity: 0.8;
  position: relative;
  width: 105%;
  margin-top: -20px;
}
#backgroundEditImg {
  z-index: -50;
  opacity: 0.7;
  position: absolute;
  height: 50%;
  width: 23%;
  left: 50%;
  top: 10%;
}
#howWeWork {
  z-index: 10;
  width: 100%;
  padding: 5px 5px;
  padding-top: 35px;
}
#signupLogin {
  background-color: #222222;
  float: left;
  position: absolute;
  left: 10%;
  top: 40%;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
  text-align: center;
}
#goldenSmile {
  opacity: 0.8;
}
.headers {
  color: white;
}
.labelSmall {
  text-decoration: none;
  font-size: 20px;
}
option {
  color: #8E65BA;
}
#Aggressive, #Confidence {
  width: 25px;
}
