/*NavBar Style*/
#userName {
  margin-top: 7%;
  margin-bottom: auto;
  color: white;
}

/*homepage background Images*/
body {
  background-color: #222222;
}
#backgroundImg {
  z-index: -50;
  opacity: 0.8;
  position: relative;
}
#howWeWork {
  z-index: 10;
  width: 100%;
  padding: 5px 5px;
}

#signupLogin {
  background-color: #222222;
  float: left;
  position: absolute;
  left: 10%;
  top: 40%;
  border-radius: 10px;
  padding: 8px 8px 8px 8px;
}
.headers {
  color: white;
}
