<div class="" ng-controller="ScheduleWalkController" class="container-fluid">
  <!-- Owner-->
  <div class="col-lg-offset-1 col-lg-5 col-xs-5">
    <div class="row">
      <legend class="headers"><h1>{{vm.user.name}} - Dog Owner</h1></legend>
      <h3 class="text-primary">Phone : {{vm.user.phoneNum | telephone }}</h3>
      <h3 class="text-primary">Address: {{vm.user.streetAddress}} Seattle, WA {{vm.user.zipCode}}</h3>
      <h3 class="text-primary">Email: {{vm.user.email}}</h3>
      <img ng-src="{{vm.user.profileURL}}" ng-hide="vm.user.additionalPics.length > 0" class="col-lg-5 col-xs-5"/>
      <uib-carousel class="col-lg-5 col-xs-5">
        <uib-slide ng-repeat="pic in vm.user.additionalPics" active="slide.active1">
          <img ng-src={{pic}} alt="owner picture" />
        </uib-slide>
      </uib-carousel>
    </div>
  </div>
  <!--Dog Walker -->
  <div class="col-lg-5 col-xs-5">
    <div class="row">
      <legend class="headers"><h1>{{vm.walker.name}} - Dog Walker</h1></legend>
      <h3 class="text-info">Phone: {{vm.walker.phoneNum | telephone }}</h3>
      <h3 class="text-info">Address: {{vm.walker.streetAddress}} Seattle, WA {{vm.walker.zipCode}}</h3>
      <h3 class="text-info">Email: {{vm.walker.email}}</h3>
      <img ng-src="{{vm.walker.profileURL}}" alt="walker profile" class="col-lg-5 col-xs-5"/>
    </div>
  </div>
  <!-- dog name -->
  <div class="col-lg-offset-3 col-xs-offset-2 col-lg-6 col-xs-6">
    <div class="row">
      <legend><h2 class="text-primary">{{vm.dog.name}}</h2></legend>
      <img ng-src="{{vm.dog.pictureURL}}" alt="dog Picture" class="col-lg-6 col-xs-6"/>
      <h2 class="text-primary">Age: {{vm.dog.age | dogAge}}</h2>
      <h2 class="text-primary">Weight: {{vm.dog.weight}} lbs</h2>
      <h2 ng-class="vm.dog.aggression < '3' ? 'text-success' : 'text-warning'">Aggression: {{vm.dog.aggression}}/5</h2>
      <h2 ng-class="vm.dog.confidence > '3' ? 'text-success' : 'text-warning'">Confidence: {{vm.dog.confidence}}/5</h2>
    </div>
  </div>
  <!-- appointment times -->
  <div class="col-lg-offset-3 col-xs-offset-2 col-lg-6 col-xs-6">
    <div class="row">
      <legend><h3 class="headers">Walk Appointment</h3></legend>
      <h3 class="headers">Dog: {{vm.dog.name}}</h3>
      <h3 class="headers">Owner: {{vm.user.name}}</h3>
      <h3 class="headers">Walker: {{vm.walker.name}}</h3>
      <h3 class="headers">Meet at: {{vm.walk.meet_at}}</h3>
      <h3 class="headers">When?</h3>
      <div class="col-lg-offset-1">
        <p class="text-danger">{{vm.when}}</p>
        <label for="now" class="control-label headers">Now</label>
        <input type="radio" name="time" ng-model="vm.when" id="now" value="now"/>
        <label for="later" class="control-label headers">Later </label>
        <input type="radio" name="time" value="later" ng-model="vm.when" id="later" />
        <input type="datetime-local" name="time" ng-model="vm.walk.walk_dateTime" ng-if="vm.when === 'later'"/>
        <p class="text-danger">{{vm.walk.walk_dateTime}}</p>
      </div>
      <p class="headers">Requested at: {{vm.walk.created_at | date:'short'}}</p>
      <div class="row">
        <button id="ownerCfm" ng-click="vm.ownerConfirm()" class="btn btn-primary walkButtons">Owner Confirm</button>
        <button id="walkerCfm" ng-click="vm.walkerConfirm()" class="btn btn-info walkButtons">Walker Confirm</button>
        <button id="dogReturn" ng-click="vm.dogReturned()" class="btn btn-success walkButtons">Dog Returned</button>
      </div>
    </div>
  </div>
</div>
