<img src="assets/runningDog.jpg" alt="running dog" id="runningDog" />
<div class="container-fluid" ng-controller="WalkController">
  <aside class="col-lg-2 col-xs-2">
    <h4 id="step1" class="headers">Owner requests walk</h4>
    <h4 id="step2" class="headers">Walker accepts request</h4>
    <button type="button" class="detailsBtn btn btn-success" ng-click="vm.ownerConfirm()">Walker Confirm</button>
    <h4 id="step3" class="headers">Walker walks dog</h4>
    <h4 id="step4" class="headers">Walker confirms return of dog</h4>
    <button type="button" class="detailsBtn btn btn-success" ng-click="vm.dogReturned()">Dog Returned</button>
    <h4 id="step5" class="headers">Payment for walker goes through</h4>
    <a href="charges/new" target="blank" class="btn btn-success">Owner Pays</a>
  </aside>
<!-- Appintment Details -->
  <div class="col-lg-6 col-xs-6">
    <legend class="headers"><h2>Appointment Details</h2></legend>
    <h4 class="text-primary">Owner: <a ng-href="/#/users/{{vm.owner.id}}">{{vm.owner.name}}</a></h4>
    <h4 class="text-primary">Dog: <a ng-href="/#/dogs/{{vm.dog.id}}">{{vm.dog.name}}</a></h4>
    <h4 class="text-primary">Walker: <a ng-href="/#/dogWalker/profile/{{vm.walker.id}}">{{vm.walker.name}}</a></h4>
    <h4 class="text-primary">When: {{vm.walk.walk_dateTime}} </h4>
    <h4 class="text-primary">Where: {{vm.owner.streetAddress}} Seattle, WA {{vm.owner.zipCode}}</h4>
  </div>
  <!-- Dog Owner -->
  <div class="headers col-lg-6 col-xs-6">
    <legend class="headers">
      <h3>{{vm.owner.name}} - Dog Owner </h3>
    </legend>
    <img ng-src="{{vm.owner.profileURL}}" alt="owner picture" class="miniPics img-circle pull-right"/>
    <h4>Address: {{vm.owner.streetAddress}} Seattle, WA {{vm.owner.zipCode}}</h4>
    <h4>Phone: {{vm.owner.phoneNum | telephone}}</h4>
    <h4>Email: {{vm.owner.email}}</h4>
  </div>
  <!-- Dog  -->
  <div class="headers col-lg-offset-2 col-xs-offset-2 col-lg-6 col-xs-6">
    <legend class="headers">
      <h3>{{vm.dog.name}} - Dog </h3>
    </legend>
    <img ng-src="{{vm.dog.pictureURL}}" alt="owner picture" class="miniPics img-circle pull-right"/>
    <h4>Age: {{vm.dog.age | dogAge}}</h4>
    <h4>Weight: {{vm.dog.weight}}4lbs</h4>
    <h4 ng-class="vm.dog.aggression < '3' ? 'text-success' : 'text-warning'">Aggression: {{vm.dog.aggression}}/5</h4>
    <h4 ng-class="vm.dog.confidence > '3' ? 'text-success' : 'text-warning'">Confidence: {{vm.dog.confidence}}/5</h4>
  </div>
  <!-- Dog Walker -->
  <div class="headers col-lg-offset-2 col-xs-offset-2 col-lg-6 col-xs-6">
    <legend class="headers">
      <h3>{{vm.walker.name}} - Dog Walker </h3>
    </legend>
    <img ng-src="{{vm.walker.profileURL}}" alt="walker picture" class="miniPics img-circle pull-right"/>
    <h4>Address: {{vm.walker.streetAddress}} Seattle, WA {{vm.walker.zipCode}}</h4>
    <h4>Phone: {{vm.walker.phoneNum | telephone}}</h4>
    <h4>Email: {{vm.walker.email}}</h4>
  </div>
</div>
