<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Thank you!</h1>
      </div>
      <div class="modal-body">
        <h3>You've paid, <b>$12.00</b>!</h3>
        <a href="/" class="btn-primary">Home</a>
      </div>
    </div>
  </div>
</div>
